
@{
    ViewBag.Title = "Job_Description";
}



<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from listing-themes.com/jobworld-html/09_Job_Open.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Jun 2018 09:00:52 GMT -->

<body>
    <!-- ./ header -->
    <div class="saercion section-page-title container container-palette">
        <div class="container">
            <h2 class="title">Job Open</h2>
        </div>
    </div>
    <main class="container container-palette pt-60 m50">
        <div class="container">
            <div class="wraper-row">
                <div class="column-content">
                    <div class="widget widget-rsm no-border no-padding">
                        <div class="jcompany-card pt-15">
                            <div class="thumbnail border">
                                <a href="14_Company_Profile.html">
                                    <img src="assets/img/pic/loglo-company.png" alt="" />
                                </a>
                            </div>
                            <div class="body">
                                <h3 class="title">Job Title</h3>
                                <div class="options">
                                    <span class="opt">
                                        <i class="fa fa-money" style="font-size:24px;">
                                        </i>Expected_Salary
                                    </span>
                                    <span class="opt-light">
                                        <span class="glyphicon glyphicon-map-marker" style="font-size:22px;"></span> City_name
                                    </span>
                                    <span class="opt-light">,</span>
                                    <span class="opt-light"> Country_name</span>
                                </div>
                                <div class="subtext"><span> Company_name </span> </div>
                            </div>
                        </div>
                        <div class="rsm-box">
                            <h3 class="rsm-title">Job Description</h3>
                            <div class="decription">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi umsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. </div>
                            <div class="rsm-sub-box m40">
                                <h4 class="title pb-10">Requirement</h4>
                                <div class="decription">At Least 3 Years of experience and knowledge of:  </div>
                                <ul class="rsm-list">
                                    <li>Objective-C</li>
                                    <li>Go</li>
                                    <li>React Native</li>
                                    <li>ClojureScript</li>
                                    <li>iOS Development</li>
                                    <li>Cocoa</li>
                                    <li>iOS SDK</li>
                                    <li>XCode</li>
                                </ul>
                            </div>
                        </div>
                        <div class="rsm-box rsm-listbox">
                            <h3 class="rsm-title">Aditioonal</h3>
                            <div class="rsm-sub-box">
                                <h4 class="title">Industries</h4>
                                <div class="decription">Retail</div>
                            </div>
                            <div class="rsm-sub-box">
                                <h4 class="title"> Education level</h4>
                                <div class="decription">Bachelor's Degree</div>
                            </div>
                            <div class="rsm-sub-box">
                                <h4 class="title"> Career level</h4>
                                <div class="decription">Entry Level</div>
                            </div>
                        </div>
                    </div>
                    <!-- ./ widget- job open -->
                    <div>
                        <button type="button" onclick="location.href='@Url.Action("Log_In","Home")'" class="btn btn-info button1" name="Apply Now" style="padding:14px; font-size:16px;" data-toggle="tooltip" title="Apply Now">
                            Apply Now
                        </button>
                    </div>
                </div>
                <!-- ./ content -->
                <div class="column-sidebar">
                    <div class="widget widget-status-label no-border m120">
                        <span class="item-label text-red">
                            <i class="icon_ribbon_alt">
                            </i>Full Time
                        </span>
                    </div>
                    <!-- ./ widget -->
                </div>
                <!-- ./ sidebar -->
            </div>
        </div>
    </main>
    
</body>
<!-- Mirrored from listing-themes.com/jobworld-html/09_Job_Open.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Jun 2018 09:01:12 GMT -->
</html>
COPY TO CLIPBOARD	 SELECT ALL
© Fre