
@{
    ViewBag.Title = "Log_In";
    Layout = "~/Views/Shared/MyCustomLayout.cshtml";
}



<head>
    <meta charset="UTF-8" />
    <title>Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.png" type="image/png" />
    <!-- Start BOOTSTRAP --> <!-- End Bootstrap --> <!-- Start Template files --> <!-- End Template files --> <!-- Start custom styles --> <!-- End custom styles -->
    <link rel="stylesheet" href='~/Content/assets/cache/css_22_log_in.min.css' />
</head>

<main class="page-sign container container-palette pt-95">
    <div class="container">
        <div class="sign-form">
            <div class="header">
                <h1 class="title">Sign In with Jobworld</h1>
            </div>
            <form action="#" class="job-sign-from">
                <div class="form-group"><input type="email" placeholder="Email" class="form-control" /></div>
                <div class="form-group"><input type="password" placeholder="Password" class="form-control" /></div>
                <div class="form-group">
                    <div class="flex-group">
                        <div class="left"><label class="checkbox-inline"><input type="checkbox" class="" />Keep me logged in</label></div>
                        <div class="right">  <a href="#" class="sign-from-link">Forgot password?</a> </div>
                    </div>
                </div>
                <div class="form-group"><button class="btn btn-custom btn-custom-secondary">Sign In</button></div>
            </form>
            <div class="separate"><span>or</span></div>
            <a href="#" class="btn btn-custom btn-facebook">Continue With Facebook</a>
            <div class="footer"> <span>Don't have a account?</span><br /> <a onclick="location.href='@Url.Action("Sign_Up","Home")'" class="sign-from-link">Sign Up</a> </div>
        </div>
    </div>
</main>


@section scripts
{
    <script type="text/javascript">
        //if ($("footer").is(":visible"))
        $("footer").hide();
        //else
        //$("#myFooter").show();
        //}
    </script>
}

