
@{
    ViewBag.Title = "Submit_Resume";
}

<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from listing-themes.com/jobworld-html/12_Submit_Resume.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Jun 2018 11:35:16 GMT -->
<head>
    <meta charset="UTF-8" />
    <title>Submit Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png" />
    <!-- Start BOOTSTRAP --> <!-- End Bootstrap --> <!-- Start Template files --> <!-- End Template files --> <!-- Start custom styles --> <!-- End custom styles -->
    <link rel="stylesheet" href='assets/cache/css_12_submit_resume.min.css' />
</head>
<body>
   
    <!-- ./ header -->
    <div class="saercion section-page-title container container-palette">
        <div class="container">
            <h2 class="title">ESW (Executive Search WorldWide)</h2>
        </div>
    </div>
    <main class="container container-palette pt-75 m95">
        <div class="container">
            <div class="widget widget-submit">
                <div class="widget-header header-styles">
                    <h2 class="title">SUBMIT YOUR RESUME</h2>
                </div>
                <!-- ./ title -->
                <form action="#" class="job-form default jborder">
                    <div class="form-group"> <label for="sr_email" class="control-label">Email Address</label> <input type="text" name="sr_email" id="sr_email" class="form-control" /> </div>
                    <div class="form-group"> <label for="sr_fname" class="control-label">First Name</label> <input type="text" name="sr_fname" id="sr_fname" class="form-control" /> </div>
                    <div class="form-group"> <label for="sr_lname" class="control-label">Last Name</label> <input type="text" name="sr_lname" id="sr_lname" class="form-control" /> </div>
                    <div class="form-group"> <label for="sr_city" class="control-label">City</label> <input type="text" name="sr_city" id="sr_city" class="form-control" /> </div>
                    <div class="form-group">
                        
                        <div class="file_upload"> <input type="file" name="s_image" id="s_image" class="form-control-file" /> <label for="s_image" class="form-control" style="background-color:cornflowerblue; font-size :30px;text-align:center ;color:black"   >Choose File</label>  </div>
                    </div>
                   
                    @*<button type="submit" class="form-control" style="background-color:cornflowerblue">Done</button>*@
                   
                    <div class="form-group"> <button type="submit" class="form-control" style="background-color:cornflowerblue; font-size :30px;text-align:center ;color:black">Submit Resume</button> </div>
                </form>
            </div>
            <!-- ./ widget-submit -->
        </div>
    </main>
    
    <!-- ./ section banner -->
    
    <!-- ./ footer -->
    <div class="se-pre-con"></div>
    <!-- End Jquery --> <!-- Start BOOTSTRAP --> <!-- End Bootstrap --> <!-- Start Template files --> <!-- End Template files --> <!-- Start custom styles --> <!-- End custom styles -->
    <script src='assets/cache/js_12_submit_resume.min.js'></script>
</body>
<!-- Mirrored from listing-themes.com/jobworld-html/12_Submit_Resume.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Jun 2018 11:35:29 GMT -->
</html>
COPY TO CLIPBOARD	 SELECT ALL
© Free
